[Unit]
Description=Restore ipset and iptables
After=network-pre.target
Wants=network-pre.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restore-fw.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
